<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sciquiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.sciquiz.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sciquiz.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="com.example.sciquiz.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.example.sciquiz.ScoresActivity"
            android:label="@string/title_activity_scores" >
        </activity>
        <activity
            android:name="com.example.sciquiz.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
